<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="profileContainer">
      <div id="profile">
        <header>
          <!-- avator -->
          <div class="avatar">
            <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
            <img src="/img/avatar-border.svg" alt="avatar-border">
          </div>
          <!-- author -->
          <h1 class="author">{{ .Site.Params.Author }}</h1>
        </header>
        <p id="birthdate"></p>
        <p id="realtiveAge"></p>
        <p>
            Food: <a href="https://smile.amazon.com/Purina-Puppy-Chow-Complete-Chicken/dp/B07D1L7X33"  target="blank">Purina Puppy Chow Complete With Real Chicken Dry</a>
        </p>
        <canvas id="weightChart" width="400" height="400"></canvas>
        <p>Sasha's Vet: <a href="https://thepethospitals.com/locations/germantown" target="blank">Drew McWatters, DVM</a></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13059.689735583437!2d-89.75178085424798!3d35.08367076131394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x54b0ac735fed867e!2sThe+Pet+Hospitals!5e0!3m2!1sen!2sus!4v1564891889806!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
    {{- partial "footer.html" . -}}
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="module" src="/js/index.js"></script>
  </body>
</html>
